@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;

}



body  div {
    display:flex;
    flex-direction:column;
    /* align-items: center; */
    /* justify-content: center; */

}

textarea {
    padding: 10px;
    background-color: lightblue;
    font-size: 14px;
}

#output {
    display: flex;
    flex-direction: column;
    padding: 5px;
    row-gap: 5px;
    max-width:400px;
}

#output span {
    padding: 10px;
    color: #000000;
    border-radius: 15px;
}

#output .valid {
    border: 1px solid #00800070;
    background-color: #00800070;
}

#output .invalid {
    border: 1px solid #ff000070;
    background-color: #ff000070;
}


.spell {
    display: flex;
    flex-direction: row;
    justify-content: revert;
    align-items: center;
    padding: 20px;
    max-width: 500px;
}

.spell button {
    flex: 0 1 100px;
}

.spell input {
    flex: 1 1 300px;
}
.spellout {
    letter-spacing: 1.4px;
    margin-left: 15px
}